In [1]:
# Chicago Dataset Socioeconomic Indicators, Chicago Public Schools, Chicago Crime Data

In [2]:
# Step 1: Downloading the data sets on (IBM Db2 on Cloud) or similar files

# Chicago Census Data: "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"

# Chicago Public Schools: "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"

# Chicago Crime Data: "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"

In [3]:
# Step 2: After downloading I'll name the tables

# CENSUS_DATA
# CHICAGO_PUBLIC_SCHOOLS
# CHICAGO_CRIME_DATA

In [4]:
# Step 3: Connecting to the database

# First I will load the SQL extension and establish a connection with the database

!pip install --force-reinstall ibm_db ibm_db_sa
!pip install sqlalchemy==1.3.9

Collecting ibm_db
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa
  Using cached ibm_db_sa-0.3.7-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Downloading SQLAlchemy-1.4.28-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp38-cp38-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy, ibm-db, ibm-db-sa
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.2
    Uninstalling greenlet-1.1.2:
      Successfully uninstalled greenlet-1.1.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.7
    Uninstalling ibm-db-sa-0.3.7:
      Successfully uninstalled ibm-db-sa-0.3.7
Successfully installed greenlet-1.1.2 ibm-db-3.1.0 ibm-db-sa-0.3.7 sqlalchemy-1.4.28
Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.28
    Uninstalling SQLAlchemy-1.4.28:
      Successfully uninstalled SQLAlchemy-1.4.28
Successfully installed sqlalchemy-1.3.9

In [5]:
# Then Load the sql

%load_ext sql

In [6]:
# In the next cell I will enter my db2 connection string.
# From my Db2 service credentials I will copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# I will Enter the connection string for my  Db2 on Cloud database instance below

%sql ibm_db_sa://fdv98681:lFLFEcnMmvydnh6q@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb?security=ssl

In [7]:
# Now let me run some queries and gather some information about Chicago Socioeconomic Indicators, Chicago Public Schools, Chicago Crime Data

In [8]:
# 1. Here I will Find the total number of crimes recorded in the CRIME table

%sql select count(*) as total_number_of_crimes from CHICAGO_CRIME_DATA

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(533,)]

In [9]:
# 2. I will List community areas with per capita income less than 11000.

%sql select community_area_name,per_capita_income from CENSUS_DATA where per_capita_income < 11000;

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [10]:
# 3. I will List all case numbers for crimes involving minors(children are not considered minors for the purposes of crime analysis)

%sql select case_number, description from CHICAGO_CRIME_DATA where description like '%MINOR%';

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

In [11]:
# 4. List all kidnapping crimes involving a child

%sql select * from CHICAGO_CRIME_DATA where primary_type like '%KIDNAP%' and description like '%CHILD%';

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [12]:
# 5. Now I will check What kinds of crimes were recorded at schools

%sql select unique(primary_type), location_description from CHICAGO_CRIME_DATA where location_description like '%SCHOOL%';

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

In [14]:
# 6. List the average safety score for all types of schools.

In [15]:
%%sql
select "Elementary, Middle, or High School", avg(safety_score) as Safety_Score 
from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School";

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [17]:
# 7. List 5 community areas with highest % of households below poverty line

%sql select community_area_name, percent_households_below_poverty from CENSUS_DATA order by percent_households_below_poverty desc limit 5;

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [18]:
# 8. Let's check Which community area is most crime prone

%sql select community_area_number, count(case_number) as NUMBER_OF_CASES from CHICAGO_CRIME_DATA group by community_area_number order by NUMBER_OF_CASES desc limit 1;

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[(25, 43)]

In [19]:
# 9. I'll use a sub-query to find the name of the community area with highest hardship index

%sql select community_area_name, community_area_number, hardship_index from CENSUS_DATA where community_area_number = (select CHICAGO_CRIME_DATA.community_area_number from CENSUS_DATA, CHICAGO_CRIME_DATA group by CHICAGO_CRIME_DATA.community_area_number order by count(CENSUS_DATA.hardship_index) desc limit 1);

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('Austin', 25, 73)]

In [20]:
# 10. I'll use a sub-query to determine the Community Area Name with most number of crimes

%sql select CENSUS_DATA.community_area_name, count(CHICAGO_CRIME_DATA.case_number) as NUMBER_OF_CRIMES from CENSUS_DATA, CHICAGO_CRIME_DATA where CENSUS_DATA.community_area_number = (select CHICAGO_CRIME_DATA.community_area_number from CENSUS_DATA, CHICAGO_CRIME_DATA group by CHICAGO_CRIME_DATA.community_area_number order by count(CENSUS_DATA.community_area_number) desc limit 1) group by census_data.community_area_name;

 * ibm_db_sa://fdv98681:***@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/bludb
Done.

[('Austin', 533)]